In [19]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from utilsVisualize import getModelDataNum
import numpy as np

In [20]:
mode = "TEST"
modelNames = ["p8", "p16", "m32", "m1", "p2"]
visualizeMode = "PHI_MAPE"
cutoffRow = None

In [21]:
dfArray = []
for modelName in modelNames:
    df, dfLong, dfWide, dfS7 = getModelDataNum(
        modelName, mode, visualizeMode=visualizeMode, cutoffRow=cutoffRow
    )
    dfS7.sort_values(by=["mape"], inplace=True, ascending=False)
    
    dfArray.append(dfS7)

In [22]:
df1 = dfArray[0]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
21,0.117539,0.274109,TEST,p8,2024-01-05-12-15-00,o3_pfc_test/p8,2024-01-05-13-40-16
40,0.017110,0.104401,TEST,p8,2024-01-05-12-15-24,o3_pfc_test/p8,2024-01-05-13-39-51
35,0.012512,0.082083,TEST,p8,2024-01-05-12-14-53,o3_pfc_test/p8,2024-01-05-13-40-04
22,0.012175,0.078101,TEST,p8,2024-01-05-12-15-22,o3_pfc_test/p8,2024-01-05-13-39-56
26,0.011654,0.068719,TEST,p8,2024-01-05-12-14-58,o3_pfc_test/p8,2024-01-05-13-40-24

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
45,0.000323,0.009814,TEST,p8,2024-01-05-12-15-29,o3_pfc_test/p8,2024-01-05-13-40-23
9,0.000250,0.009221,TEST,p8,2024-01-05-12-15-08,o3_pfc_test/p8,2024-01-05-13-40-32
30,0.000298,0.007960,TEST,p8,2024-01-05-12-14-51,o3_pfc_test/p8,2024-01-05-13-39-59
3,0.000296,0.007719,TEST,p8,2024-01-05-12-14-55,o3_pfc_test/p8,2024-01-05-13-40-13
19,0.000246,0.006413,TEST,p8,2024-01-05-12-15-11,o3_pfc_test/p8,2024-01-05-13-39-53

In [23]:
df1 = dfArray[1]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
38,0.125925,0.302808,TEST,p16,2024-01-05-12-16-05,o3_pfc_test/p16,2024-01-05-13-31-06
27,0.117338,0.280342,TEST,p16,2024-01-05-12-15-59,o3_pfc_test/p16,2024-01-05-13-31-17
26,0.108899,0.275542,TEST,p16,2024-01-05-12-16-16,o3_pfc_test/p16,2024-01-05-13-31-24
10,0.108369,0.273632,TEST,p16,2024-01-05-12-15-55,o3_pfc_test/p16,2024-01-05-13-30-59
39,0.102252,0.262959,TEST,p16,2024-01-05-12-16-23,o3_pfc_test/p16,2024-01-05-13-29-47

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
19,0.057125,0.182982,TEST,p16,2024-01-05-12-16-03,o3_pfc_test/p16,2024-01-05-13-31-01
15,0.058498,0.178782,TEST,p16,2024-01-05-12-16-36,o3_pfc_test/p16,2024-01-05-13-31-04
34,0.053084,0.176404,TEST,p16,2024-01-05-12-15-54,o3_pfc_test/p16,2024-01-05-13-31-11
37,0.049199,0.170476,TEST,p16,2024-01-05-12-16-04,o3_pfc_test/p16,2024-01-05-13-29-50
33,0.041935,0.153822,TEST,p16,2024-01-05-12-16-01,o3_pfc_test/p16,2024-01-05-13-29-37

In [24]:
df1 = dfArray[2]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
12,0.156678,0.331558,TEST,m32,2024-01-05-12-55-19,o6_ml_test/m32,2024-01-05-13-35-16
48,0.139060,0.311662,TEST,m32,2024-01-05-12-55-38,o6_ml_test/m32,2024-01-05-13-35-30
2,0.134071,0.306560,TEST,m32,2024-01-05-12-55-17,o6_ml_test/m32,2024-01-05-13-34-45
23,0.131823,0.297958,TEST,m32,2024-01-05-12-55-11,o6_ml_test/m32,2024-01-05-13-35-17
42,0.117702,0.282416,TEST,m32,2024-01-05-12-56-03,o6_ml_test/m32,2024-01-05-13-35-20

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
7,0.001657,0.030196,TEST,m32,2024-01-05-12-54-43,o6_ml_test/m32,2024-01-05-13-35-11
3,0.001711,0.030021,TEST,m32,2024-01-05-12-55-33,o6_ml_test/m32,2024-01-05-13-34-50
34,0.000941,0.024066,TEST,m32,2024-01-05-12-55-07,o6_ml_test/m32,2024-01-05-13-34-47
25,0.000953,0.023829,TEST,m32,2024-01-05-12-55-01,o6_ml_test/m32,2024-01-05-13-35-24
41,0.000744,0.021469,TEST,m32,2024-01-05-12-55-41,o6_ml_test/m32,2024-01-05-13-35-02

In [25]:
df1 = dfArray[3]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
29,0.210786,0.383384,TEST,m1,2024-01-05-14-26-55,o6_ml_test/m1,2024-01-06-05-07-52
22,0.212897,0.382478,TEST,m1,2024-01-05-14-16-46,o6_ml_test/m1,2024-01-06-05-08-14
11,0.208708,0.381141,TEST,m1,2024-01-05-12-27-13,o6_ml_test/m1,2024-01-05-13-33-10
49,0.198976,0.371562,TEST,m1,2024-01-05-15-49-07,o6_ml_test/m1,2024-01-06-05-08-01
3,0.202453,0.370724,TEST,m1,2024-01-05-14-12-49,o6_ml_test/m1,2024-01-06-05-07-51

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
7,0.038714,0.161764,TEST,m1,2024-01-05-12-19-59,o6_ml_test/m1,2024-01-05-13-33-04
39,0.036666,0.154213,TEST,m1,2024-01-05-15-48-03,o6_ml_test/m1,2024-01-06-05-07-41
45,0.035065,0.142545,TEST,m1,2024-01-05-12-23-03,o6_ml_test/m1,2024-01-05-13-33-01
34,0.026773,0.128033,TEST,m1,2024-01-05-14-19-47,o6_ml_test/m1,2024-01-06-05-08-05
44,0.024666,0.126127,TEST,m1,2024-01-05-12-31-20,o6_ml_test/m1,2024-01-05-13-33-02

In [26]:
df1 = dfArray[4]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
24,0.084995,0.205410,TEST,p2,2024-01-05-12-12-54,o3_pfc_test/p2,2024-01-05-13-38-20
11,0.001547,0.027747,TEST,p2,2024-01-05-12-13-11,o3_pfc_test/p2,2024-01-05-13-37-55
23,0.000807,0.017872,TEST,p2,2024-01-05-12-12-47,o3_pfc_test/p2,2024-01-05-13-38-31
33,0.000462,0.013031,TEST,p2,2024-01-05-12-13-17,o3_pfc_test/p2,2024-01-05-13-37-40
14,0.000297,0.008898,TEST,p2,2024-01-05-12-12-52,o3_pfc_test/p2,2024-01-05-13-38-28

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
32,0.000006,0.001315,TEST,p2,2024-01-05-12-13-23,o3_pfc_test/p2,2024-01-05-13-38-21
37,0.000004,0.001224,TEST,p2,2024-01-05-12-13-02,o3_pfc_test/p2,2024-01-05-13-38-09
21,0.000005,0.001107,TEST,p2,2024-01-05-12-12-49,o3_pfc_test/p2,2024-01-05-13-37-47
10,0.000005,0.001057,TEST,p2,2024-01-05-12-12-45,o3_pfc_test/p2,2024-01-05-13-38-27
28,0.000004,0.000905,TEST,p2,2024-01-05-12-13-05,o3_pfc_test/p2,2024-01-05-13-38-01