In [12]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from utilsVisualize import getModelDataNum
import numpy as np

In [13]:
mode = "TEST"
modelNames = ["p8", "p16", "m32"]
visualizeMode = "PHI_MAPE"
cutoffRow = None

In [14]:
dfArray = []
for modelName in modelNames:
    df, dfLong, dfWide, dfS7 = getModelDataNum(
        modelName, mode, visualizeMode=visualizeMode, cutoffRow=cutoffRow
    )
    dfS7.sort_values(by=["mse"], inplace=True, ascending=False)
    
    dfArray.append(dfS7)

In [15]:
df1 = dfArray[0]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
21,0.117539,0.274109,TEST,p8,2024-01-05-12-15-00,o3_pfc_test/p8,2024-01-05-13-40-16
40,0.017110,0.104401,TEST,p8,2024-01-05-12-15-24,o3_pfc_test/p8,2024-01-05-13-39-51
35,0.012512,0.082083,TEST,p8,2024-01-05-12-14-53,o3_pfc_test/p8,2024-01-05-13-40-04
22,0.012175,0.078101,TEST,p8,2024-01-05-12-15-22,o3_pfc_test/p8,2024-01-05-13-39-56
26,0.011654,0.068719,TEST,p8,2024-01-05-12-14-58,o3_pfc_test/p8,2024-01-05-13-40-24

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
45,0.000323,0.009814,TEST,p8,2024-01-05-12-15-29,o3_pfc_test/p8,2024-01-05-13-40-23
30,0.000298,0.007960,TEST,p8,2024-01-05-12-14-51,o3_pfc_test/p8,2024-01-05-13-39-59
3,0.000296,0.007719,TEST,p8,2024-01-05-12-14-55,o3_pfc_test/p8,2024-01-05-13-40-13
9,0.000250,0.009221,TEST,p8,2024-01-05-12-15-08,o3_pfc_test/p8,2024-01-05-13-40-32
19,0.000246,0.006413,TEST,p8,2024-01-05-12-15-11,o3_pfc_test/p8,2024-01-05-13-39-53

In [16]:
df1 = dfArray[1]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
38,0.125925,0.302808,TEST,p16,2024-01-05-12-16-05,o3_pfc_test/p16,2024-01-05-13-31-06
27,0.117338,0.280342,TEST,p16,2024-01-05-12-15-59,o3_pfc_test/p16,2024-01-05-13-31-17
26,0.108899,0.275542,TEST,p16,2024-01-05-12-16-16,o3_pfc_test/p16,2024-01-05-13-31-24
10,0.108369,0.273632,TEST,p16,2024-01-05-12-15-55,o3_pfc_test/p16,2024-01-05-13-30-59
23,0.103657,0.260143,TEST,p16,2024-01-05-12-16-00,o3_pfc_test/p16,2024-01-05-13-31-21

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
22,0.054808,0.183238,TEST,p16,2024-01-05-12-16-37,o3_pfc_test/p16,2024-01-05-13-31-23
29,0.053170,0.189555,TEST,p16,2024-01-05-12-15-58,o3_pfc_test/p16,2024-01-05-13-31-08
34,0.053084,0.176404,TEST,p16,2024-01-05-12-15-54,o3_pfc_test/p16,2024-01-05-13-31-11
37,0.049199,0.170476,TEST,p16,2024-01-05-12-16-04,o3_pfc_test/p16,2024-01-05-13-29-50
33,0.041935,0.153822,TEST,p16,2024-01-05-12-16-01,o3_pfc_test/p16,2024-01-05-13-29-37

In [17]:
df1 = dfArray[2]
display(df1.head())
display(df1.tail())

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
12,0.156678,0.331558,TEST,m32,2024-01-05-12-55-19,o6_ml_test/m32,2024-01-05-13-35-16
48,0.139060,0.311662,TEST,m32,2024-01-05-12-55-38,o6_ml_test/m32,2024-01-05-13-35-30
2,0.134071,0.306560,TEST,m32,2024-01-05-12-55-17,o6_ml_test/m32,2024-01-05-13-34-45
23,0.131823,0.297958,TEST,m32,2024-01-05-12-55-11,o6_ml_test/m32,2024-01-05-13-35-17
42,0.117702,0.282416,TEST,m32,2024-01-05-12-56-03,o6_ml_test/m32,2024-01-05-13-35-20

,mse,mape,mode,modelName,folderName,sourceFolder,sourceFolderName
9,0.001590,0.032051,TEST,m32,2024-01-05-12-54-55,o6_ml_test/m32,2024-01-05-13-35-15
16,0.001552,0.031427,TEST,m32,2024-01-05-12-55-34,o6_ml_test/m32,2024-01-05-13-35-18
25,0.000953,0.023829,TEST,m32,2024-01-05-12-55-01,o6_ml_test/m32,2024-01-05-13-35-24
34,0.000941,0.024066,TEST,m32,2024-01-05-12-55-07,o6_ml_test/m32,2024-01-05-13-34-47
41,0.000744,0.021469,TEST,m32,2024-01-05-12-55-41,o6_ml_test/m32,2024-01-05-13-35-02