In [1]:
import os, sys
import numpy as np
import matplotlib.pyplot as plt
from utils import read_data
import seaborn as sns
import pandas as pd
from utilsVisualize import getModelData

In [2]:
mode = "TEST"
# modelNames = ["p2", "p4", "p8", "p16", "m1", "m2", "m4", "m8", "m16", "m32"]
modelNames = ["m16"]

In [3]:
cutoffRow = None
dfLongArray = []
for modelName in modelNames:
    df, dfLong, dfWide = getModelData(
        modelName, mode, visualizeMode="FE_REDUCE", cutoffRow=cutoffRow
    )
    

# dfLongAppended = pd.concat(dfLongArray)

In [4]:
dfWide.head()

,2024-01-05-13-33-47,2024-01-05-13-34-17,2024-01-05-13-34-33,2024-01-05-13-33-53,2024-01-05-13-34-30,2024-01-05-13-33-50,2024-01-05-13-34-22,2024-01-05-13-34-13,2024-01-05-13-34-27,2024-01-05-13-34-35,...,2024-01-05-13-33-56,2024-01-05-13-34-05,2024-01-05-13-33-46,2024-01-05-13-33-48,2024-01-05-13-34-21,2024-01-05-13-34-25,2024-01-05-13-33-52,sum,tot,frac
0.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,50,0.00
4.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,50,50,1.00
8.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,49,50,0.98
12.0,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,48,50,0.96
16.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,50,50,1.00

In [5]:
# dfLongAppended.shape

In [6]:
# sns.set_theme()
# fig, ax = plt.subplots(figsize=(10, 5))
# sns.violinplot(data=dfLongAppended, x="model", y="value", ax=ax)